/* Global */

html {
    background-color: black;
    font-size: 22px;
    font-family: Helvetica, sans-serif;
    color: seashell;
    /*opacity: 0.9;*/
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    position: fixed;
    height: 69px;
    width: 100%;
    border: 1px solid seashell;
    top: 0;
    left: -1px;
    background-color: black;
    z-index: 10;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

header img {
    height: 50px;
    padding-left: 10px;
}

header nav {
    text-align: right;
    flex-grow: 1;
    display: block;
}

nav ul {
    padding: 0px;
    margin: 0px;
    float: right;
    display:inline-block;
    vertical-align: middle;
}

nav ul li {
    display: inline;
    padding: 0 .5rem;
}

ul li a{
    color: seashell;
}

/* Mission */

#mission {
    position: relative;
    background-image: url("../images/img-mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 1200px;
    top: 69px;
    margin: 0 auto;
}

#mission .content {
    background-color: black;
    margin: auto 0px;
    width: 100%;
    position: absolute;
    top: 40%;
}

/* Featured */

#featured {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 69px;
    padding: 69px 0;
}

#featured .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

#featured .container .item {
    margin: 0 10px;
}

#featured .container img {
    max-width: 300px;
    height: auto;    
}

/* Locations */

#location {
    position: relative;
    background-image: url("../images/img-locations-background.jpg");
    background-position:top;
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    top: 69px;
    padding: 0px 0px;
}

#location .content {
    position: relative;
    top: 20%;
}

#location .container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

#location .container .item {
    background-color: black;
    width: 300px;
}

/* Footer */

footer {
    position: relative;
    top: 50px;
    font-size: .75rem;
    padding: 0px 0px 20px 20px;
}
footer .copyright {
    text-align: left;
}